@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Rubik+Dirt&display=swap');

/*Reset*/
* {
    box-sizing: border-box;
}

/*General*/
html, body {
    background: #064635;
    font-family: 'PT Sans', sans-serif;
    color: #F0BB62;
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Rubik Dirt', cursive;;
}

header {
    height: 100vh;
}

/*Navbar*/
#navbar .logo {
    float: left;
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 16px;
    font-weight: 400;
}

#navbar a {
    text-decoration: none;
    color: #F0BB62
}

#navbar ul {
    list-style: none;
    text-transform: uppercase;
    float: right;
}

#navbar li {
    display: block;
    padding: 20px;
    text-align: center;
    float: left;
}

#navbar ul li a:hover {
    background-color: #A0FA93;
}

/*showcase*/

#showcase .container {
    background-image: url("./recursos/principal.jpg");
    
    width: 100%;
    height: 100%;
}

#showcase .showcase-text {
    float: left;
    width: 50%;
    padding: 20px 20px 20px 40px;
}

#showcase .showcase-text h1 {
    text-transform: uppercase;
    font-size: 46px;
    font-weight: 200px;
    background-color: #064635;
}

#showcase .showcase-text .fondo {
    background-color: #064635;
}

#showcase .showcase-text .large {
    padding-top: 20px;
    font-size: 40px;
    font-weight: 400px;
    padding-bottom: 100%;
}

/*about*/
.container {
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 10px;
}

#about {
    background: #519259;
    padding: 100px 0;
}

#about .about-img{
    width: 100%;
}

.about-title {
    float: left;
    width: 45%;
    padding-top: 340px;
}

.about-description {
    float: left;
    width: 55%;
}

.about-description .large{
    padding-bottom: 10px;
    font-size: 1.25rem;
}

/*general*/
h2 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 300;
    color: #F0BB62;
}

p {
    font-size: 1rem;
    padding: 10px 0;
    line-height: 1.7em;
}

#registro {
    padding: 120px 0;
    background-color: #519259;
}

.register-form{
    float: left;
    width: 45%;
    padding: 20px;
}

.register-title {
    float: right;
    width: 55%;
    padding-top: 160px;
    text-align: center;
}

form .form-group {
    margin-bottom: 1rem;
}

form .form-control {
    width: 100%;
    padding: 0.375rem, 0.7rem;
    font-size: 1rem;
    line-height: 1.7;
    border: none;
}

/*Evento*/
#evento {
    padding-top: 20px;
}

#evento .paseo .paseo-vid{
    width: 50%;
    float: left;
}

#evento .paseo .paseo-description {
    width: 50%;
    float: right;
}

/*boton form*/
.btn {
    font-size: 15px;
    padding: 14px, 23px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 4px;
    margin-top: 10px;
}

.btn-light {
    background-color: #064635;
    border: 1px solid #064635;
    color: #F0BB62;
    width: 100%;
}

.btn-light:hover{
    background: #F0BB62;
    border: 1px solid #F4EEA9;
    color: #064635
}

/*Clima*/
